################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sandbox/v17
/Sandbox/bin
/Sandbox/obj
/Enc/bin
/Enc/obj
